<p>Dear {{ user.full_name }},</p>
<p>To reset your password for FIT Research Connect, please click the link below or paste it into your browser:</p>
<p><a href="{{ url_for('reset_password_with_token', token=token, _external=True) }}">{{ url_for('reset_password_with_token', token=token, _external=True) }}</a></p>
<p>If you did not request a password reset, please ignore this email. No changes will be made to your account.</p>
<p>This link is valid for 30 minutes.</p>
<p>Sincerely,<br>The FIT Research Connect Team</p>